/*ССЫЛКИ*/
a[href="mailto:info@devstudio.com"],
a[href="tel:+380961111111"] {
    color: $secondary-text-color;
}

.nav-list a:hover {
    color: $accent-button-color;
    transition: $timing-cubic;
}
.nav-hover a:hover {
    color: $accent-button-color;
    transition: $timing-cubic;
}
// .nav-hover {
//     padding: 0px;
//     margin: 0px;
// }